.content {
  max-width: 480px;
  width: 100%;
}

.outer {
  background: #edf2f8;
}

.title {
  color: var(--mantine-color-black);
  font-family: Greycliff CF, var(--mantine-font-family);
  font-size: 44px;
  line-height: 1.2;
  font-weight: 900;
}

.image {
  max-width: 376px !important;
  height: 356px;
  width: 100%;
}

.highlight {
  position: relative;
  background-color: var(--mantine-color-blue-light);
  border-radius: var(--mantine-radius-sm);
  padding: 4px 12px;
}
.authername {
  font-size: 53px !important;
}

@media (max-width: 426px) {
  .banner_container{
    padding-bottom: 25px;
  }
}
