.card {
    background-color: var(--mantine-color-gray-0);
    background-color: var(--mantine-color-gray-0);
  }
  
  .title {
    font-family: Greycliff CF, var(--mantine-font-family);
    font-weight: 700;
  }
  
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: var(--mantine-radius-md);
    height: 125px;
    background-color: #EDF2F8 !important;
    transition: box-shadow 150ms ease, transform 100ms ease;
    height: 150px;
  }
  
  .item:hover {
    box-shadow: var(--mantine-shadow-md);
    transform: scale(1.05);
  }

.skillContainer
{
    /* background-color: #EDF2F8; */
}

.avatarImg
{
  height: 60% !important;
  width: fit-content !important;
}
  